asgiref                
distlib                
Django                 
filelock               
mysql-connector-python 
mysqlclient            
pip                    
platformdirs          
protobuf               
setuptools             
sqlparse               
tzdata                 
virtualenv             